<div class="relative">
  <button class="focus:outline-none">Username</button>
  <div class="absolute right-0 mt-2 w-48 bg-white text-black rounded shadow-lg">
    <ul>
      <li class="px-4 py-2 hover:bg-green-200"><a href="#">Profile</a></li>
      <li class="px-4 py-2 hover:bg-green-200"><a href="#">My Simulations</a></li>
      <li class="px-4 py-2 hover:bg-green-200"><a href="#">Settings</a></li>
      <li class="px-4 py-2 hover:bg-green-200"><a href="#">Logout</a></li>
    </ul>
  </div>
</div>
