<form>
  <div class="flex gap-0 mb-8">
    <div class="border p-2 rounded-l-lg">
      <img src="assets/thermometer.svg" alt="" class="w-16" />
    </div>
    <div class="border rounded-r-lg border-l-0 flex items-center px-4">
      <input
        (input)="onTemperatureChange($event)"
        [(ngModel)]="simulatorService.temperature().value"
        name="temperature"
        type="range"
        min="0"
        max="40"
      />
      <span class="font-bold ml-4">
        {{ simulatorService.temperature().value }}°C
      </span>
    </div>
  </div>

  <div class="flex gap-0 mb-8">
    <div class="border p-2 rounded-l-lg">
      <img src="assets/sun.svg" alt="" class="w-16" />
    </div>
    <div class="border rounded-r-lg border-l-0 flex items-center px-4">
      <input
        (input)="onSunlightChange($event)"
        [(ngModel)]="simulatorService.sunlight().value"
        name="sunlight"
        type="range"
        min="0"
        max="24"
      />
      <span class="font-bold ml-4">
        {{ simulatorService.sunlight().value }} hours
      </span>
    </div>
  </div>

  <div class="flex gap-0 mb-8">
    <div class="border p-2 rounded-l-lg">
      <img src="assets/drop.png" alt="" class="w-16" />
    </div>
    <div class="border rounded-r-lg border-l-0 flex items-center px-4">
      <input
        (input)="onWaterChange($event)"
        [(ngModel)]="simulatorService.water().value"
        name="water"
        type="range"
        min="0"
        max="1000"
      />
      <span class="font-bold ml-4">
        {{ simulatorService.water().value }} ml
      </span>
    </div>
  </div>

  <div class=""></div>
</form>
